{% extends 'base.html.twig' %}

{% block title %}Fav Locker{% endblock %}

{% block body %}
    <h1>Welcome to Fav Locker !</h1>

    <a href="{{ path('index') }}">Back to home</a>
    <a href="{{ path('dashboard') }}">Dashboard</a>

{% endblock %}
