{% extends 'base.html.twig' %}

{% block title %}Fav Locker{% endblock %}

{% block body %}
    <h1>Welcome to Fav Locker !</h1>

    <ul>
        <li><a href="{{ path('index') }}">Back to home</a></li>
        <li><a href="{{ path('dashboard_index') }}">Dashboard</a></li>
        <li><a href="{{ path('app_login') }}">Login</a></li>
    </ul>

{% endblock %}
